<html>
<head>
    <style type="text/css">
        #include("/velocity/style.css")
    </style>
</head>
<body>

<p>Dear user,</p>
<p>Unfortunatelly, deal for order <a href="$url/order/$deal.order.id">#$deal.order.id</a> is rejected by order owner.</p>
<p>Best regards,<br/>Intersango Team</p>

</body>
</html>